<div class="container">
    <header class="jumbotron">
        <h1 class="display-3">
            <strong>{{currentMovie.title}}</strong>
        </h1>
    </header>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="table-container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">All Ratings</h3>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userList; index as ind">
                            <th scope="row">{{ind + 1}}</th>
                            <td>{{item[0]}}</td>
                            <td>{{item[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>